@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <form class="col s12" id="input">
      <div class="col s6">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Word</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Sentence</label>
        </div>
      </div>
    </form>
  </div>
