@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s9 m6">
      <div class="card cyan darken-1">
        <div class="card-content white-text">
          <span class="card-title">Word Frequency</span>
          <p>The text contains @Model.CountRepeats() instances of the word @Model.GetWord()</p>
        </div>

      </div>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <a class="waves-effect waves-light btn" href="/">Home</a>
    </div>
</div>
